<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-7">
        <h1>Home Designs, Taken To The Next <span class="accent">Level</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, repellendus placeat quibusdam a dolor esse officia asperiores sit quisquam quo vitae possimus tenetur inventore exercitationem aut et dignissimos magnam. Corporis?</p>
        <p class="lead">
          <a class="btn btn-alt btn-lg rounded-pill" href="#" role="button">Learn More</a>
        </p>
      </div>
      <div class="col-12 col-md-5 image-container">
      </div>
    </div>
  </div>
</div>

<div class="services-container my-5">
  <div class="container">
    <p class="text-muted font-weight-bold">Work with me</p>
    <h1>Planning, Designing and making dreams come true</h1>
    <h1>- all in one place</h1>
    <div class="row">
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">01</h1>
        <h4>Lorem, ipsum.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum omnis doloremque?</p>
      </div>
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">02</h1>
        <h4>Lorem, ipsum.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum omnis doloremque?</p>
      </div>
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">03</h1>
        <h4>Lorem, ipsum.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum omnis doloremque?</p>
      </div>
    </div>
</div>
<div class="container">
  <div class="call-to-action">
    <div class="row">
      <div class="col-12 col-md-6 text">
        <p class="text-muted font-weight-bold">Work with me</p>
        <h2>Making things easier for you</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis dignissimos vitae animi nesciunt, sapiente nulla.</p>
        <a class="btn btn-dark btn-lg rounded-pill" href="#" role="button">Learn More</a>
      </div>
      <div class="col-12 col-md-6 image-container"></div>
    </div>
  </div>
</div>
</div>
