<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/home']">FRANCIS INTERIORS</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <div class="nav navbar-nav ml-auto">
      <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive="active" >Home </a>
      <a class="nav-item nav-link" [routerLink]="['/services']" routerLinkActive="active">Services</a>
      <a class="nav-item nav-link btn btn-success" href="#" >Book a Meeting</a>
      <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
      <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
  </div>
  </div>
</nav>

<div class="site">
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
<!-- Footer -->
<section id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a [routerLink]="['/home']"><i class="fas fa-angle-right"></i> Home</a></li>
          <li><a [routerLink]="['/about']"><i class="fas fa-angle-right"></i> About</a></li>
          <li><a [routerLink]="['/services']"><i class="fas fa-angle-right"></i> Services</a></li>
          <li><a [routerLink]="['/contact']"><i class="fas fa-angle-right"></i> Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6"><i class="fa fa-copyright" aria-hidden="true"></i>
          Copyright<a class="ml-2" href="https://abdullahinur.online/" target="_blank">ABDULLAHINUR</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->
</footer>
